<div class="banner d-flex justify-content-center align-items-center">
  <div class="container">
    <span class="title">TANK YOU</span>
    <div >
      <form action="/vehicles" method="GET" class="d-flex align-items-center align-items-center search-form-home">
        <div class="search-one">
          <label for="range_datepickr">Dates</label>
          <input type="date" id="search-date" name="range_datepickr" placeholder="<%= params[:range_datepickr] ? params[:range_datepickr] : "dates" %>" class="datepickr datepickr-corr">
        </div>
        <div class="search-one">
          <label for="category">Category</label>
          <select id="category" name="category" >
            <option value="<%= params[:category] %>"><%= params[:category] %></option>
            <% Vehicle::CATEGORIES.each do |category| %>
              <% unless category == params[:category] %>
                <option class="option-displayed" value="<%= category %>"><%= category %></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <button type="submit" class="search-btn">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>

  </div>
</div>
<% images = [ "https://images.unsplash.com/photo-1499346030926-9a72daac6c63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80","https://images.unsplash.com/photo-1471958680802-1345a694ba6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2864&q=80","https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80","https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1466&q=80"] %>
<div class="cards-area">
  <% @categories.each_with_index do |cat, index| %>
    <a href="/vehicles?category=<%= cat %>">
      <div class="card-category" style="background: url(<%= images[index] %>); background-position: center; background-size: cover;">
        <%= cat.capitalize %>
      </div>
    </a>
  <% end %>
</div>
