<div class="container">

  <div class="d-flex align-items-center search-form search-filter">
    <form action="/vehicles" method="GET" class="d-flex align-items-center search-form search-filter">


      <div class="search-filter-one">
        <label for="range_datepickr">Dates</label>
        <input type="date" name="range_datepickr" placeholder="dates" class="datepickr datepickr-corr" data-params=<%= params %>>
      </div>

      <div class="search-filter-one">
        <label for="max_capacity">Participants</label>
        <input type="integer" name="max_capacity" placeholder="max invités: <%= params[:max_capacity] || 10000 %>" value="<%= params[:max_capacity] || 10000 %>" =>
      </div>

      <div class="search-filter-one">
        <label for="min_price">Prix min</label>
        <input type="integer" name="min_price" placeholder="min: <%= params[:min_price] || 1 %> €" value="<%= params[:min_price] || 1 %>" >
      </div>

      <div class="search-filter-one">
        <label for="max_price">Prix</label>
        <input type="integer" name="max_price" placeholder="max: <%= params[:max_price] || 100000 %> €" value="<%= params[:max_price] || 100000 %>" >
      </div>

      <div class="search-filter-one">
        <label for="category">Category</label>
        <select id="category" name="category" >
          <option value="<%= params[:category] %>"><%= params[:category] %></option>
          <% Vehicle::CATEGORIES.each do |category| %>
            <% unless category == params[:category] %>
              <option class="option-displayed" value="<%= category %>"><%= category %></option>
            <% end %>
          <% end %>
        </select>
      </div>




      <button type="submit" class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>

  </div>
  <div class="cards">
    <% @vehicles.each do |vehicle| %>
      <div class="property-card">
        <%= link_to vehicle_path(vehicle) do %>
          <div class="property-image">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div>
        <% end %>
        <div class="property-description">
          <h5> <%= vehicle.name %> </h5>
          <p><%= vehicle.category %></p>
          <p>Up to <%= vehicle.capacity %> people, <%= vehicle.daily_price %> €</p>
        </div>


          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>

      </div>
    <% end %>
  </div>
</div>
