<div class="container container-index">
  <div >
    <form action="/vehicles" method="GET" class="d-flex align-items-center align-items-center search-form search-filter">
      <div class="search-one">
        <label for="range_datepickr">Dates</label>
        <input type="date" id="search-date" name="range_datepickr" placeholder="<%= params[:range_datepickr] ? params[:range_datepickr] : "dates" %>" class="datepickr datepickr-corr">
      </div>
      <div class="search-one">
        <label for="max_capacity">Participants</label>
        <input type="integer" name="max_capacity" placeholder="max invités: <%= params[:max_capacity] || 10000 %>" value="<%= params[:max_capacity] || 10000 %>" =>
      </div>
      <div class="search-one">
        <label for="min_price">Prix min</label>
        <input type="integer" name="min_price" placeholder="min: <%= params[:min_price] || 1 %> €" value="<%= params[:min_price] || 1 %>" >
      </div>
      <div class="search-one">
        <label for="max_price">Prix max</label>
        <input type="integer" name="max_price" placeholder="max: <%= params[:max_price] || 100000 %> €" value="<%= params[:max_price] || 100000 %>" >
      </div>
      <div class="search-one">
        <label for="category">Category</label>
        <select id="category" name="category" >
          <option value="<%= params[:category] %>"><%= params[:category] %></option>
          <% Vehicle::CATEGORIES.each do |category| %>
            <% unless category == params[:category] %>
              <option class="option-displayed" value="<%= category %>"><%= category %></option>
            <% end %>
          <% end %>
          <option value=""></option>
        </select>
      </div>
      <button type="submit" class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
  <div class="cards">
    <% @vehicles.each do |vehicle| %>
      <div class="property-card">
        <%= link_to vehicle_path(vehicle) do %>
          <div class="property-image" style="background-image: url('<%= cl_image_path vehicle.photos[0].key %>')">
            <div class="property-image-title">
              <!-- Optional <h5>Card Title</h5> If you want it, turn on the CSS also. -->
            </div>
          </div>
        <div class="property-description">
          <h5> <%= vehicle.name %> </h5>
          <p><%= vehicle.category.capitalize %></p>
          <p>Maximum : <%= vehicle.capacity %> personne(s), <%= vehicle.daily_price %> €</p>
        </div>
        <% end %>

          <div class="property-social-icons", style="background-color:white">
            <% if vehicle.category == "espace" %>
              <a href="<%= new_vehicle_order_path(vehicle) %>"><i class="fas fa-rocket"></i></a>
            <% elsif vehicle.category == "mer" %>
              <a href="<%= new_vehicle_order_path(vehicle) %>"><i class="fas fa-ship"></i></a>
            <% elsif vehicle.category == "terre" %>
              <a href="<%= new_vehicle_order_path(vehicle) %>"><i class="fas fa-truck-monster"></i></a>
            <% else vehicle.category == "air" %>
              <a href="<%= new_vehicle_order_path(vehicle) %>"><i class="fas fa-fighter-jet"></i></a>
            <% end %>
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
          </div>

      </div>
    <% end %>
  </div>
</div>
