<div class="container container-show">
  <div class="name">
    <div class="secondclass1 text-left">
      <h2><%= @vehicle.name %></h2>
    </div>
    <div class="secondclass2 text-right">
      <%= link_to 'GO', new_vehicle_order_path(@vehicle), class: "go-button" %>
    </div>
  </div>
  <div class="tmp-carousel">
    <% if @vehicle.photos[0] == nil %>
      <%= "Waiting for offical pictures from the owner" %>
    <% elsif @vehicle.photos[0] && @vehicle.photos[1] == nil || @vehicle.photos[2] == nil %>
      <%= cl_image_tag @vehicle.photos[0].key, class: "carousel-img" %>
    <% else %>
      <div id="carouselExampleIndicators" class="carousel slide carousel-img" data-ride="carousel" >
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @vehicle.photos[0].key, class: "carousel-img" %>
            </div>
            <% @vehicle.photos[1..-1].each do |photo| %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key, class: "carousel-img" %>
              </div>
            <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>
  </div>

  <div class="container form mt-3">
    <div class="description">
      <h5>Capacité totale : <%= @vehicle.capacity %> pilote(s)</h5>
      <h5>Prix location journalière : <%= @vehicle.daily_price %> €</h5>
      <h5>Description</h5>
      <p><%= @vehicle.description %></p>

      <h5>Categorie : <%= @vehicle.category %> </h5>
    </div>
  </div>

  <div class="container form mt-3">
    <%= link_to '🚀 Back to your search 🚀', vehicles_path, class: "back-button" %>
  </div>
</div>
